<!DOCTYPE html>
<html>
<head>
  <title>Reset Password</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/reset-password.css" />
</head>
<body>
  <header>
    <nav class="navbar">
      <div class="container">
        <a href="/" class="navbar-logo">
          <img src="/images/AA.png" alt="imgx" />Food Recipes</a>
        <ul class="navbar-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/login">Log In</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="container1">
    <h1>Reset Password</h1>
    {{#if errorMessage}}
    <p style="color: red;">{{errorMessage}}</p>
    {{else}}
    <form action="/reset-password" method="POST">
      <input type="hidden" name="token" value="{{token}}">
      <label for="password">New Password:</label>
      <input type="password" id="password" name="password" required>
      <button type="submit">Reset Password</button>
    </form>
    {{/if}}
  </div>

  <!-- Add this script to the bottom of your HTML page -->
  <script>
    // Function to extract the token from the URL query parameter
    function getTokenFromURL() {
      const urlParams = new URLSearchParams(window.location.search);
      return urlParams.get('token');
    }

    // Function to set the token as the value of the hidden input field in the form
    function setTokenInForm() {
      const token = getTokenFromURL();
      if (token) {
        const tokenInput = document.querySelector('input[name="token"]');
        tokenInput.value = token;
      }
    }

    // Call the setTokenInForm function on page load
    window.onload = setTokenInForm;
  </script>
</body>
</html>
