body,
nav,
ul {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    background-color: #246076;
    overflow-x: hidden;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0px 10px;
    justify-content: center;
    position: relative;
}

.container1 {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header {
    padding: 3px 7px;
    text-decoration: none;
}

.navbar {
    display: flex;
    background-color: #246076;
    height: 43px;
    overflow-y: hidden;
}

.navbar-logo {
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(132, 243, 28);
}

.navbar-logo img {
    width: 42px;
    width: 38px;
    margin-right: 12px;
    border-radius: 17px;
}

.navbar-menu {
    border-radius: 3px;
    float: right;
    margin: 0;
}

.navbar-menu li {
    border-radius: 4px;
    display: inline-block;
    margin-left: 20px;
    justify-content: space-around;
    padding: 0px;
}

.navbar-menu li a {
    padding: 6px;
    text-decoration: none;
    float: left;
    font-size: 18px;
    color: rgb(246, 246, 250);
}

.navbar-menu li :hover {
    background-color: #e9d5d5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    color: #000;
}